$dark-1: #00175d;
$purple-1: #00adef;

.aboutComposition {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: white;
  padding: 100px 50px;

  &__title {
    font-size: 42px;
    font-weight: 700;
    color: $dark-1;
    margin-bottom: 10px;
  }

  &__button {
    border: 2px solid $dark-1 !important;
    color: white;
    background: $dark-1;
    padding: 30px;
    margin-top: 20px;
    &:hover {
      background: white !important;
      color: $dark-1 !important;
    }
  }

  &__card {
    position: relative;
    padding-left: 112px;

    &-content {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 300px;
      background: $dark-1;
      border-radius: 8px;
      padding: 50px 20px;
    }
  }

  &-list {
    font-size: 15px;

    &__icon {
      font-size: 26px !important;
      color: $purple-1;
    }

    &__title {
      color: white;
      font-weight: 500;
    }
  }
}
