$dark-1: #00175d;
$purple-1: #00adef;
$green-1: #00d36d;

.courseDetails__button {
  border: 2px solid $purple-1 !important;
  color: white;
  background: $purple-1;
  padding: 30px;
  margin-top: 20px;
  &:hover {
    background: white !important;
    color: $purple-1 !important;
  }
}

.isAlreadyEnrolled {
  border: 2px solid $green-1 !important;
  color: white;
  background: $green-1;

  &:hover {
    background: white !important;
    color: $green-1 !important;
  }
}
