$dark-1: #00175d;

.footer {
  &__container {
    color: white;
    background: $dark-1;
    padding: 60px 80px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__item {
    display: flex;
    margin-top: 15px;
  }

  &__icon {
    margin-right: 20px;
    &-media {
      font-size: 32px;
    }
  }

  &__copyright {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    background: #001249;
  }
}

.container {
  padding: 0px 80px;
}
